.favorite_component{
    
    width: 100%;
}

.fav_elements{
    
    display: block;
    margin: auto;
    width: 1211px;
    margin-top: 50px;
}

.fav_items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 100%;
    gap: 15px;
}