.h2css {
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15%;
    color: white;
}

.info1 {
    justify-content: center;
    display: flex;
    height: 382px;
    width: 1253px;
    margin-top: 2%; 
    background: rgb(107,0,120);
    background: linear-gradient(135deg, rgba(107,0,120,1) 5%, rgba(44,31,140,1) 22%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 61%, rgba(107,0,120,1) 76%, rgba(44,31,140,1) 88%);
    border-radius: 20px;
    margin: auto;
    margin-top: 3%;
}


.svg2 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 4%;
}

.katalog {
    padding-left: 20px; 
    justify-content: center;
    align-items: center;
    display: flex;
    height: 54px;
    width: 300px;
    margin: 0 auto;
    border-radius: 60px;
    background-color: white;
    font-family: Gilroy;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 17%;
    border: none;
}

.strelka {
        width: 44px;
        height: 44px;
        background-image: url(../../static/arrow.png);
        background-size: 15px;
        background-repeat: no-repeat;
        vertical-align: center;
        background-color: #0071E3;;
        background-position: center center;
        border-radius: 40px;
        margin-left: 20px;
}

.description {
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #2D2D2D;
    justify-content: center;
}

.op {
    width: 262px;
    height: 206px;
    background-color: #F8F8F8;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    margin-top: 40px;
    margin-left: 1%;
    border-radius: 13px;
    box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.13);
}

.text1 {
    color: #0071E3;
}

.text2 {
    color: #9747FF;
}

.text3 {
    color: #21A366;
}

.text4 {
    color: #FF9F47;
}

.op1 {
    width: 262px;
    height: 206px;
    background-color: #F8F8F8;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    margin-top: 40px;
    box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.13);
}