.search_page {
    font-family: Gilroy;
    /* width: 95%; */
    width: 1250px;
    margin: auto;
    margin-top: 141px;
    /* display: flex; */
    /* flex-direction: row; */
}

.blocknameelem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.vart_block {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    
}

.chechboxes_block {
    display: block;
    flex-direction: column;
}

.loadBut_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load_button{
    background: rgba(0, 113, 227, 1);
    border: none;
    height: 32px;
    font-family: Gilroy;
    border-radius: 4px;
    padding: 0 40px;
    color: white;
}