.oror {
    background-image: url(../../static/bigstar.png);
    height: 240px;
    width: 240px;
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-size: cover;
    font-size: 64;
}

.cb {
    color: #000;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.device_page_favorite_block {
    margin: auto;
    width: 130px;
    display: flex;
    margin-left: 157px;
}

.agn {
    align-items: center;
    display: flex;
    text-align: left;
}

.reddownload {
    color: var(--element-red, #E30613);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin-left: 85px;
}

.bka {
    color: #000;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20px;
}

.greytext {
    color: #656565;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20px;
}

.pdf {
    color: #A7AEB5;
    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin-left: 3px;
}

.agn1 {
    color: #000;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 10px;
}

.bka1 {
    text-decoration: underline;
    color: #000;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 3px;
    margin-top: 20px;
}

.lastprice {
    color: var(--Black, #1A1A1A);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: normal;
    text-decoration-line: strikethrough;
    text-transform: uppercase;
    text-decoration: line-through;
}

.newprice {
    color: var(--Black, #1A1A1A);
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: normal;
}

.harakter {
    color: var(--Black, #1A1A1A);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 18.2px */
    text-transform: uppercase;
}

.vkorzinu {
    width: 225px;
    border-radius: 7px;
    background-color: #0071E3;
    color: #FFF;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 18.2px */
    text-transform: uppercase;
    padding: 22px;
    border: none;
}

.vkorzine {
    width: 225px;
    border-radius: 7px;
    /* background-color: #0071E3; */
    color: blue;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 18.2px */
    text-transform: uppercase;
    padding: 22px;
    border: none;
}

.favorits12 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADvSURBVHgBpZQNEYMwDIUfUzAJlYAEJOAAJMwBSMABOJiEbQqYg90UMAdbA8kIHT+l++4e/SF9vTYBYCS2qq06qze3NDYqJvGI6ck4YEkFay0mEzOjJiu1G7XlzMLSiWnUOzrld6LGPLlacFqIqbSH3IfBMiVrCcMeXcQdIsJ/9D4Hq6faJZSY2xcZ3nmQIxwxvNEjwVhTR+zHWD3YI5XJC9YzvUbDa1t3F8l2AX+k2DvM5CDF9MvwNZsc1SX3NNVmOTbQpmdME0X9eo+ZQGUgmaPWsFqMd5ZgJ8YxdTcIwmA4thzxirBa/aHE8EfZ5ANcWmap5MR82gAAAABJRU5ErkJggg==);
    height: 18px;
    width: 20px;
    background-repeat: no-repeat;
    visibility: visible;
    margin-left: 7%;
}

.izbr {
    color: var(--Black, #1A1A1A);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
}

.dhg {
    display: flex;
    align-items: center;
}

.assh {
    width: 540px;
    height: auto;
    font-size: 32;
    border: 12px;
    background-color: #F1F3F4;
    padding: 20px;
    display: block;
    align-items: center;
    justify-content: space-around;
    /* margin-left: 100px; */
    border-radius: 20px;
    margin-left: auto;
}

.alltovarcard {
    width: 1211px;

    display: flex;
    margin: auto;
    margin-top: 158px;
}

.download_button {
    margin-bottom: 70px;
}

.devcie_page_fav_button {
    display: flex;
    width: 200px;
}

.fav_act_heart {
    margin-left: 20px;
}

.loading {
    width: 540px;
    height: 545px;
    display: block;
    border-radius: 20px;
    margin-left: auto;
    background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff); /* Градиентный переход */
    background-size: 200% 200%; /* Размер фона */
    animation: gradientShift 2s infinite; /* Анимация */
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%; /* Начальное положение градиента */
    }
    50% {
      background-position: 100% 50%; /* Положение градиента на середине анимации */
    }
    100% {
      background-position: 0% 50%; /* Конечное положение градиента */
    }
  }