.chelka1 {
    display: flex;
    margin-top: 40px;
    align-items: center;
    width: 1200px;
    /* margin-left: 8%;
    margin-right: 8%; */
    margin: auto;
}

.vsetStrelka {
    background-image: url(../../static/vsetStrelka.png);
    width: 10px;
    height: 20px;
    background-size: 8px;
    background-repeat: no-repeat;
    vertical-align: center;
    background-position: center center;
    margin-left: auto;
}

.atovar1 {
    display: flex;
    border: NONE;
    padding: 13px;
    border-radius: 10px;
    color: #ffffff;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #414141;
    width: 170px;
    height: 42px;
    margin-left: auto;
}

.popular2 {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    font-family: Gilroy;
    text-align: left;
}

.list-group {
    background-color: #282828;
    height: auto;
    margin-top: 4%;
    border-radius: 0%;
    color: #FFFFFF;
    color: #FFF;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding: 0 0 165px 0px;
}


.pop {
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 8%; */
    width: 1200px;
    margin: auto;
    gap: 20px;
}

.list-group-item {
    width: 220px;
    height: 295px;
    border-radius: 13px;
    background: #282828;
    border: 2px solid #666C77;
    /* margin-left: 7px; */
    margin-top: 7px;
    padding: 30px;
    color: #FFFFFF;
}

.list-group-item+.list-group-item {
    border-top-width: 2px;
}

.list-group-item:first-child {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.components12 {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    height: auto;
    width: auto;
    margin-top: 37%;
}

.list-group-item:hover {
    border: 2px solid #0071E3;;
}