@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Roboto:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/gilroy');

.Header {
    background-color: white;
    width: 100%;
    box-shadow: 0px 1px 6px 0px rgba(82, 82, 82, 0.10);
}

.topHeader {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    height: auto;
    padding-top: 20px;
    padding-left: 5%;
}

.topHeader * {
    margin-left: 10px;
}

.bottomHeader {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    height: auto;
    padding-left: 112px;
    padding-top: 7px;
    padding-bottom: 10px;
}

.bottomHeader * {
    margin-left: 37px;
}

.logo {
    margin-left: 70px;
}

.catalog_button {
    display: inline-block;
    border-radius: 5px;
    background: #0071E3;
    width: 120px;
    height: 100%;
    margin-left: 60px;
}

.catalog_text {
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -20px;
    margin-left: 25px;
}

.catalog_image {
    margin-top: 15px;
    margin-left: 17px;
}

.search {
    width: 512px;
    height: 40px;
    display: flex;
    margin-left: 60px;
}

.searchInput {
    width: 487px;
    height: auto;
    border-radius: 5px solid red;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE+SURBVHgBnVPLkcIwDLU55ZgSvKckN7aCZSvYEoAKyFbApAKgAkIl0AEckxPugBxzSngvKBnzGwKacSRZes+ypWjliDHG9zwvhjmmy726rg9a6wPMJMsyq25Et0YYhhMkLgDwoQtsWdgF7CH3hOw/z/PlHQHBUGsCkbQsy3JlrS1ccqg5q7ol0Qga6C3APoLfj8oUEoOcfVVVCrrLG8CZCXP8DEyR2FQOmnWBKIr2QRCcVE9B/gnVHFt/ALahvHIvYVeUdKgh4IdlqQ+FBBYPYzgDPTGGGJcgZQUYoL9XSGknCXYuwabtv7T0GZixubhJR8D24AqJvMMWieMH4BFjPJ0P7ra7G2W0MuYoi2tlKXeUpXSSpSCZtldoRMbzi0HZGsli65oYQL+8MtYEVa2vKnhHAE7V5Y9NPyJwSH7OrwKYesmVidYAAAAASUVORK5CYII=);
    background-size: 15px;
    background-repeat: no-repeat;
    padding-left: 30px;
    vertical-align: center;
    background-color: #EEE;
    border-radius: 8px;
    border: 1px solid #EEE;
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.12) inset;
    background-position: 7px center;
}

.searchLupa {
    border-radius: 5px;
    width: 56px;
    height: auto;
    margin-left: -52px;
    background-color: #0071E3;
    border: none;
    background-image: url(../../static/lupa.png);
}

.rightOptions {
    display: flex;
    margin-left: 70px;
}

.orders {
    background-image: url(../../static/order.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 50px;
    margin-left: 8px;
}

.favorits {
    background-image: url(../../static/favorite.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 50px;
    margin-left: 19px;
}

.basket {
    background-image: url(../../static/basket.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 50px;
    margin-left: 13px;
}

.profile {
    background-image: url(../../static/ava.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    border-radius: 30px;
    border: 3px solid #0071E3;;
    height: 37px;
    width: 37px;
    margin-left: 30px;
}

.location {
    display: flex;
}

.locationIMAGE {
    background-image: url(../../static/location.png);
    background-repeat: no-repeat;   
    background-size: cover;
    height: 19px;
    width: 19px;
    margin-left: 0;
}

.textMoscow {
    margin-left: 0;
}